{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["react"],
  "globals": {
    "graphql": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error"
  }
}
